@font-face {
    font-family: "SuisseIntl";
    src: url(fonts/SuisseIntl-SemiBold-WebS.woff) format("woff");
}
@font-face {
    font-family: "SangBlue";
    src: url(fonts/SangBleuKingdom-Regular-WebS.woff) format("woff");
    font-weight: normal;
}

html, body {
    overflow: hidden;
  }

body {
    font-size: 16px;
    line-height: 1.55;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    letter-spacing: 0.03em;
    /*
    -webkit-user-select: none;  /* Chrome all / Safari all */
   /* -moz-user-select: none;     /* Firefox all */
   /* -ms-user-select: none;      /* IE 10+ */
  /*  -o-user-select: none;
    user-select: none;
    */
}

header div {
    float: left;
    width: 50%; 
}

.menu {
    background-color: #FFFF00;
    padding-left: 10px;
    padding-right: 10px;
}

section div {
    float: left;
    width: 50%;
}

.text {
    color: #000000;
    padding-top: 100px;
}

.text p {
    padding-left: 10px;
    padding-right: 10px;
}

.dog {
    background-image: url(../img/gino.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


h1 {
    font-family: "SuisseIntl", sans-serif;
    font-weight: inherit;
    font-size: 1em;
    color: #000000;
    background-color: #FF0000;
}

h2 {
    font-family: "SangBlue", serif;
    font-weight: inherit;
    color: #000000;
    font-size: 0.85em;
    padding-top: 2.5px;
    padding-right: 10px;
    padding-bottom: 2.5px;
    padding-left: 10px;
}


h3 {
    font-family: "SuisseIntl", sans-serif;
    font-weight: inherit;
    color: #000000;
    padding-left: 10px;
    margin-top: 10px;

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF0000;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 0.85em;
    color: black;   
}

footer p{
    display: inline;
}

#info-display{
    background-color: #FF0000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-family: "SuisseIntl", sans-serif;
}

#category {
    font-family: "SangBlue", serif;
    background-color: #FFFF00;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

@media (max-width: 740px) {
    body {
        font-size: 12px;
    }
}