@font-face {
    font-family: "SuisseIntl";
    src: url(fonts/SuisseIntl-SemiBold-WebS.woff) format("woff");
}
@font-face {
    font-family: "SangBlue";
    src: url(fonts/SangBleuKingdom-Regular-WebS.woff) format("woff");
    font-weight: normal;
}

body {
    font-size: 16px;
    line-height: 1.45;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    letter-spacing: 0.03em;
    color: #000000;
    font-weight: inherit;
    overflow: hidden;
    /*
    -webkit-user-select: none;  /* Chrome all / Safari all */
   /* -moz-user-select: none;     /* Firefox all */
   /* -ms-user-select: none;      /* IE 10+ */
  /*  -o-user-select: none;
    user-select: none;
    */
}

header {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-items: center;  
}

.menu {
    background-color: #FFFF00; 
    padding-top: 2px;
    padding-bottom: 2px;
}

header a:hover:nth-child(1){
    color: #000000;
}

header :nth-child(3) {
    background-color: cyan;
}

.menu a {
    font-family: "SangBlue", serif;  
    size: 1em;
    padding-left: 10px;

}

h1 {
    font-family: "SuisseIntl", sans-serif;
    font-size: 1em;
    background-color: #FF0000;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h2 {
    font-family: "SuisseIntl", sans-serif;
    margin-top: 10px;
}

.text h2:nth-child(1) {
    margin-top: 0px;
}

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
}

.text {
    overflow-y: scroll;
    padding-right: 10px;
    padding-left: 10px;
}

.dog {
    background-image: url(../img/gino-2.jpg);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF0000;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 0.833em;
    color: black;
}

footer p{
    display: inline;
}

#info-display{
    font-family: "SuisseIntl", sans-serif;
    background-color: #FF0000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

#category {
    font-family: "SangBlue", serif;
    background-color: #FFFF00;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

@media (max-width: 740px) {
    body {
        font-size: 12px;
    }
}